.attendee-list-container {
    padding-top: 24px;
}

ul {
    &.attendee-list {
        overflow-y: auto;
        max-height: 38%;
        border: 1px solid #ccc;
    }
}
li {
    &.attendee {
        border-bottom: 1px solid #ccc;

        &:last-child {
            border-bottom: none;
        }
        
        &:nth-child(even) {
            background: #f8f8f8;
        }
    }
}
.float-right {
    &:not(:first-child) {
        margin-right: 8px;
    }
}